* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: sans-serif;
}

html, body, .main, .ember-view, .ember-application {
  height: 100%;
}

.form-group {
  margin-bottom: 15pt;
}

header {
  line-height: 60pt;
  height: 60pt;
}

.content {
  padding: 15pt;
	height: 100%;
}

header h2 {
  margin-left: 10pt;
	color: green;
	text-transform: uppercase;
}
