* {
  font-family: sans-serif;
  text-decoration: none;
}

.signin-block {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  height: 300pt;

  .signin-button {
    margin-bottom: 20pt;

    .button {
      padding: 10pt 0;
      width: 300pt;
      color: #fff;
    }

    .facebook-button {
      @extend .button;
      background: #3b5998;
    }

    .twitter-button {
      @extend .button;
      background: #4099ff;
    }
  }
}

.tabs-list {
  li {
    display: inline-block;
    line-height: 30pt;
    list-style: none;
    margin-left: 20pt;
  }
}
