{{outlet}}

<div class="signin-block" style="background: url('bg.jpg')">
  <div class="login">
    <div class="signin-button">
      <a href="#" class="button facebook-button" {{action 'signInViaFacebook'}}>
        Facebook
      </a>
    </div>
    <div class="signin-button">
      <a href="#" class="button twitter-button" {{action  'signInViaTwitter'}}>
        Twitter
      </a>
    </div>
    <div class="or-link">
      or {{#link-to 'account.signup'}}Sig up{{/link-to}}
    </div>
  </div>
</div>
