{{outlet}}

<div class="signin">
  <h2 class="page-header">Sign in</h2>
</div>
<div class="login">
  <div class="facebook">
    <a href="#" {{action 'signInViaFacebook'}}>
      Facebook
    </a>
  </div>
  <div class="twitter">
    <a href="#" {{action  'signInViaTwitter'}}>
      Twitter
    </a>
  </div>

  {{post-list}} sf{{/post-list}}

  <div class="or signup">
    or {{#link-to 'account.signup'}}Sign up{{/link-to}}
  </div>
</div>
