{{outlet}}

<h2>Albums</h2>

<div class="row">
    {{#each model as |album|}} 
		<div class="col-lg-3">
			<div class="album">
			<figure>
				<img src="{{album.image}}" alt="Logo"/>
				<figcaption>{{#link-to 'albums.show' album.id}}{{album.title}}{{/link-to}}</figcaption>
			</figure>
			</div>
		</div>
	{{/each}}
</div>
