<aside class="main">
  <header class="header">
    <h1>Streembeats</h1>
  </header>
  <aside class="content container">
    {{outlet}}
  </aside>
  <footer class="footer">
    &copy Streembeats team
  </footer>
</aside>
