<div class="wrapper">
  <header>
    <h1 class="ui header purple">
        StreamBeats
    </h1>
  </header>
  <section class="container">{{outlet}}</section>
  <footer>
    @copy streambeats team
  </footer>
</div>