<aside class="main">
  <header class="navbar navbar-custom">
    <div class="navbar-header">
      <h3 class="navbar-brand pull-left">
        {{#link-to 'index'}}Streembeats{{/link-to}}
      </h3>
      {{st-navbar}}
    </div>
  </header>
  <aside class="content container">
    {{outlet}}
  </aside>
  <footer class="footer">
    &copy Streembeats team
  </footer>
</aside>
