<aside class="main">
  <header class="header">
    <h3>Streembeats</h3>
  </header>
  <aside class="content">
    {{outlet}}
  </aside>
  <footer class="footer">
    &copy Streembeats team
  </footer>
</aside>
