<aside class="main">
  <header class="header">
    <h2>Streembeats</h2>
    {{#st-navbar}}{{/st-navbar}}
  </header>
  <aside class="content container">
    {{outlet}}
  </aside>
  <footer class="footer">
    &copy Streembeats team
  </footer>
</aside>
